<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="header">
            <h4 class="title">Upcoming Classes</h4>
            <p class="category">Classes currently running</p>
          </div>
          <div class="content">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Promote</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Open Play
                    </td>
                    <td>
                      Cote St Luc
                    </td>
                    <td>
                      04/23/17
                    </td>
                    <td>$$</td>
                  </tr>
                  <tr>
                    <td>
                      Open Play
                    </td>
                    <td>
                      Cote St Luc
                    </td>
                    <td>
                      04/23/17
                    </td>
                    <td>$$</td>
                  </tr>
                  <tr>
                    <td>
                      Open Play
                    </td>
                    <td>
                      Cote St Luc
                    </td>
                    <td>
                      04/23/17
                    </td>
                    <td>$$</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h4 class="title">Amount Earned</h4>
            <p class="category">Snapshot of total amount earned through Chikpea</p>
          </div>
          <div class="content">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>This Week</th>
                    <th>This Month</th>
                    <th>Total Earned</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      $2,500
                    </td>
                    <td>
                      $7,500
                    </td>
                    <td>
                      $10,000
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h4 class="title">Locations</h4>
            <p class="category">Top 3 locations</p>
          </div>
          <div class="content">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Total Kids</th>
                    <th>Total Earned</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Location2
                    </td>
                    <td>
                      14
                    </td>
                    <td>
                      $2,000
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Location 1
                    </td>
                    <td>
                      12
                    </td>
                    <td>
                      $1,700
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Location 3
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      $1,500
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="header">
            <h4 class="title">Top 10 Clients</h4>
            <p class="category">Kids that attended the most classes</p>
          </div>
          <div class="content">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Child</th>
                    <th>Class Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Emily</td>
                    <td>10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
