<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="header">
            <h4 class="title">Current Classes</h4>
            <p class="category">Classes currently running</p>
          </div>
          <div class="content">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
