<div class="content">  
  <div class="container col-md-6 col-md-offset-3">
    <div class="page-header">
      <%= link_to events_path, :class => 'btn btn-default' do %>
        <span class="pe-7s-back"></span>
        Back
      <% end %>
      <h1>New event</h1>
    </div>
    <%= render 'form' %>
  </div>
</div>
