<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

<!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Chikpea
            </a>
        </div>

        <ul class="nav">
            <li>
              <% if @biz_user %>
                <a href="/schedule">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
              <% else %>
                <a href="dashboard.html">
                    <i class="pe-7s-home"></i>
                    <p>Home</p>
                </a>
              <% end %>
            </li>
            <li>
              <% if @biz_user %>
                <a href="/locations">
                  <i class="pe-7s-map-2"></i>
                  <p>Locations</p>
                </a>
              <% else %>
                <a href="user.html">
                  <i class="pe-7s-user"></i>
                  <p>Schedule</p>
                </a>
              <% end %>
            </li>
            <li>
              <% if @biz_user %>
                <a href="/events">
                  <i class="pe-7s-note2"></i>
                  <p>Events</p>
                </a>
              <% else %>
                <a href="table.html">
                  <i class="pe-7s-note2"></i>
                  <p>Kiddos</p>
                </a>
              <% end %>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-user"></i>
                    <p>Profile</p>
                </a>
            </li>
            <!-- <li>
                <a href="icons.html">
                    <i class="pe-7s-shopbag"></i>
                    <p>Store</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-comment"></i>
                    <p>Blog</p>
                </a>
            </li> -->
            <li id="sidenav-log-out">
              <a rel="nofollow" data-method="delete" href="/users/sign_out">
                <i class="pe-7s-power"></i>
                <p>Log Out</p>
              </a>
            </li>
        </ul>
  </div>
</div>
